bs4~=0.0.1
datetime~=5.2
openai==1.16.1
requests~=2.31.0
tiktoken==0.6.0
typing~=3.7.4.3
wikipedia~=1.4.0

beautifulsoup4~=4.12.2
mwclient~=0.10.1
html2text==2024.2.26
pandas==2.2.1
numpy~=1.26.1
setuptools==69.2.0
httpx==0.27.0
python-dotenv~=1.0.0
pytest==8.1.1

docutils~=0.20.1
sphinx~=7.2.6

mistune
docstring_parser

LLMEasyTools~=0.5