{%- if history.observations|length > 1 %}
# Previous observations
{% for observation in history.observations[:-1] %}

## Observation {{ loop.index }}

{% include "observation.jinja2" %}
{%- endfor %}
{%- endif %}
{% if history.observations|length > 0 %}
# Current Retrieval
{% with observation = history.observations[-1], with_content=True %}
{%- include "observation.jinja2" %}
{%- endwith %}
{%- else %}
No previous operations recorded.
{%- endif %}