**Operation:** {{ observation.operation }}
{%- if observation.goal %}
**Goal:** {{ observation.goal }}
{%- endif %}
**Source:** {{ observation.source or 'N/A' }}
{%- if not short %}

**Content:**
{{ observation.content }}
{% endif -%}

{%- set related_kps = history.find_related_knowledge_pieces(observation) -%}
{%- if related_kps %}

### What have we learned:
{% for kp in related_kps %}
{%- if kp.content %}
- {{ kp.content }}
  {%- for quote in kp.quotes %}
{{ quote | indent_and_quote }}
  {%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
