# Question

The user's question is: {{question}}

# Reports from previously delegated work:

{{observation}}

Please think about 5 simple questions that would help you answer the user question and which can be answered with the help of Wikipedia.
Choose the one question that you think is the simplest one.
